@charset "UTF-8"; 

html, body { margin: 0; padding: 0; font-family: 'Pretendard Variable'; font-weight: 500; color: #000; } 
p, a, h1, h2, h3, h4, button, ul, li { padding: 0; margin: 0; text-decoration: none; list-style: none; } 
.outfit { font-family: "Outfit", serif; } 
.smooch { font-family: "Smooch Sans", serif; } 

::selection { color: #fff; background-color: #282828; } 

/* header */
#header { position: fixed; top: 0; left: 0; width: 100%; height: 130px; z-index: 10; } 
#header.fixed { background-color: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.05); } 
#header .header-inner { position: relative; width: 100%; max-width: 1840px; height: 130px; padding: 0 3vw 0; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; } 
#header .header-logo { width: 100px; padding-top: 30px; filter: invert(1); } 
#header.fixed .header-logo { filter: unset; } 
#header .pc-cate { position: absolute; padding-top: 20px; left: 50%; transform: translate(-50%, 0); display: block; } 
#header .pc-cate ul { display: flex; gap: 80px; } 
#header .pc-cate ul.main-cate li { font-family: "Pretendard Variable"; font-weight: 600; font-size: 23px; color: #000; cursor: pointer; inline-size: max-content; display: flex; align-items: center; gap: 20px; } 
#header .pc-cate ul.main-cate li img { width: 10px; transform: rotate(90deg); filter: opacity(.5); } 
#header .pc-cate ul.main-cate li a { color: #000; } 
#header .pc-cate ul.main-cate:hover > li:not(:hover) { opacity: 0.5; } 
#header .pc-cate ul.sub-cate { position: absolute; width: 100%; height: 140px; left: 0; z-index: -1; display: flex; align-items: flex-end; justify-content: center; gap: 30px; box-sizing: border-box; transition: all 0.2s; } 
#header .pc-cate ul.sub-cate:hover > li:not(:hover) a { color: rgba(0, 0, 0, 0.5); } 
#header .pc-cate ul.sub-cate li { box-sizing: border-box; } 
#header .pc-cate > ul.sub-cate-1, #header .pc-cate > ul.sub-cate-2 { width: 200px; top: 0; left: unset; display: grid; align-content: center; justify-items: center; overflow: hidden; padding: 40px 0 0; background: none; gap: 0; visibility: hidden; opacity: 0; } 
#header .pc-cate > ul.sub-cate-1 { height: 340px; right: 662px; } 
#header .pc-cate > ul.sub-cate-2 { height: 400px; right: 443px; } 
#header .pc-cate > ul.sub-cate-1 > li, #header .pc-cate > ul.sub-cate-2 > li { width: 100%; text-align: center; line-height: inherit; background: #fff; padding: 20px; } 
#header .pc-cate > ul.sub-cate-2 > li { padding: 20px 40px; } 
#header .pc-cate > ul.sub-cate-1 > li > a, #header .pc-cate > ul.sub-cate-2 > li > a { font-family: "Pretendard Variable"; font-weight: 700; color: #000; font-size: 16px; line-height: inherit; } 
#header .pc-cate > ul.sub-cate-1 > li > a { text-transform: uppercase; } 
#header .pc-cate ul.sub-cate-1 li:first-child, #header .pc-cate ul.sub-cate-2 li:first-child { border-top-left-radius: 10px; border-top-right-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.05); border-bottom: none; } 
#header .pc-cate ul.sub-cate-1 li:nth-child(n+2):nth-child(-n+3), #header .pc-cate ul.sub-cate-2 li:nth-child(n+2):nth-child(-n+4) { border-left: 1px solid rgba(0, 0, 0, 0.05); border-right: 1px solid rgba(0, 0, 0, 0.05); } 
#header .pc-cate ul.sub-cate-1 li:last-child, #header .pc-cate ul.sub-cate-2 li:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border: 1px solid rgba(0, 0, 0, 0.05); border-top: none; } 

#header .reg { position: relative; width: 180px; height: 50px; margin-top: 20px; font-family: 'Pretendard Variable'; font-size: 20px; font-weight: 600; color: #5D4FFA; line-height: normal; background: #fff; border: none; border-radius: 40px; text-transform: uppercase; transition: all .3s; } 
#header .reg a { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 2; } 
#header .reg:hover { opacity: .8; } 

#header.fixed .reg { color: #fff; background: #000; } 

/* menu-btn */
#header .menu-btn { display: none; } 
#header .menu-btn { position: relative; width: 20px; height: 20px; background: none; border: none; border-top: 3px solid #282828; border-bottom: 3px solid #282828; cursor: pointer; } 
#header .menu-btn::after { position: absolute; content: ''; left: 0; top: 50%; width: 20px; height: 3px; background: #282828; transform: translate(0, -50%); } 

/* cate-wrap */
.cate-wrap { position: fixed; width: 100%; max-width: 500px; height: 100vh; top:0; right: 0; padding: 0 3vw; background: #282828; box-sizing: border-box; transform: translateX(100%); transition: transform 0.5s; z-index: 99; } 
.cate-wrap.show { transform: translateX(0); } 
.cate-wrap .top { position: relative; width: 100%; height: 80px; display: flex; justify-content: flex-end; align-items: center; } 
.cate-wrap .top .close-btn { position: relative; width: 20px; height: 20px; background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; } 
.cate-wrap .top .close-btn::after { position: absolute; content: ''; width: 20px; height: 3px; background: #fff; transform: rotate(-45deg); } 
.cate-wrap .top .close-btn::before { position: absolute; content: ''; width: 20px; height: 3px; background: #fff; transform: rotate(45deg); } 

.cate-wrap ul.cate { display: flex; flex-direction: column; gap: 20px; } 
.cate-wrap ul.cate > li { font-family: "Syncopate", serif; font-size: 40px; color: #fff; font-weight: 700; display: flex; justify-content: space-between; } 
.cate-wrap ul.cate > li a { font-family: "Syncopate", serif; color: #fff; } 
.cate-wrap ul.cate > li > ul { min-width: 150px; display: grid; gap: 10px; } 
.cate-wrap ul.cate > li > ul > li a { font-family: 'Pretendard Variable'; font-size: 18px; color: #fff; } 
.bg-over { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px); display: none; z-index: 11; } 


/* pg-top */
.pg-top { position: relative; width: 100%; height: 400px; padding-bottom: 122px; display: flex; align-items: flex-end; justify-content: center; box-sizing: border-box; background-position: center; background-repeat: no-repeat; background-size: cover; background: #000; overflow: hidden; } 
.pg-top .pg-wrap { position: relative; width: 100%; max-width: 1840px; padding: 0 3vw; box-sizing: border-box; z-index: 4; } 
.pg-top .pg-wrap .pg-sub { color: #877DF9; font-family: "Pretendard Variable"; font-size: 20px; font-style: normal; font-weight: 600; line-height: normal; } 
.pg-top .pg-wrap .pg-tit { color: #FFF; font-family: "Pretendard Variable"; font-size: 50px; font-style: normal; font-weight: 700; line-height: normal; margin-top: 10px; } 
.pg-top .pgt-img { position: absolute; right: -250px; bottom: -250px; width: 1000px; transform: rotate(-15deg); } 
.pg-top .pgt-img.pgt-img2 { bottom: -400px; width: 1100px; } 
.pg-top .pgt-img.pgt-img4 { bottom: 0px; right: -320px; transform: rotate(0deg); width: 1200px; } 
.pg-top .pgt-img.pgt-img5 { bottom: -180px; width: 1200px; right: -500px; transform: rotate(5deg); } 


/* inner-cate */
.inner-cate { position: absolute; width: 100%; max-width: 1840px; height: auto; bottom: 2px; padding: 0 3vw 18.5px; margin: -44px auto 0; box-sizing: border-box; } 
.inner-cate.fixed { position: fixed; height: 194px; top: 0px; max-width: unset; margin-top: 0; padding-top: 150px; z-index: 9; background: #fff; } 
.inner-cate.fixed .cate { justify-content: center; } 
.inner-cate.fixed .cate a { color: rgba(153, 153, 153, 1); } 
.inner-cate.fixed .cate a.active { color: rgba(93, 79, 250, 1); } 
.inner-cate.fixed .cate a:hover { color: rgba(93, 79, 250, 1); } 
.inner-cate.fixed .cate a.active::after { background: rgba(93, 79, 250, 1); } 
.inner-cate .cate { position: relative; width: auto; display: flex; justify-content: flex-start; align-items: center; gap: 90px; } 
.inner-cate .cate a { position: relative; color: rgba(255, 255, 255, 0.60); font-family: "Pretendard Variable"; font-size: 20px; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.4px; transition: all .2s; } 
.inner-cate .cate a:hover { color: #fff } 
.inner-cate .cate a.active { color: #fff; font-weight: 800; } 
.inner-cate .cate a.active::after { content: ''; position: absolute; width: 80%; height: 3px; background: #877DF9; bottom: -20px; left: 50%; transform: translate(-50%, 0); } 

/* inner-sub-cate */
.inner-sub-cate { position: relative; width: 100%; max-width: 1840px; margin: 0 auto; padding: 0 3vw; box-sizing: border-box; } 
.inner-sub-cate .sub-cate-wrap { position: relative; width: 100%; display: flex; align-items: center; justify-content: center; padding: 60px 0 40px; gap: 8px; border-bottom: 1px solid #e8e8e8; } 
.inner-sub-cate .sub-cate-wrap a { min-width: 100px; padding: 0px 20px; height: 45px; color: #949494; text-align: center; font-family: "Pretendard Variable"; font-size: 20px; font-style: normal; font-weight: 600; line-height: 0px; letter-spacing: -1px; display: flex; align-items: center; border-radius: 40px; transition: all .3s; justify-content: center; } 
.inner-sub-cate .sub-cate-wrap a.active { background: #5D4FFA; color: #fff; } 
.inner-sub-cate .sub-cate-wrap a:hover { color: rgba(93, 79, 250, 1); } 
.inner-sub-cate .sub-cate-wrap a.active:hover { color:#fff; } 

/* #footer { position: relative; width: 100%; height: auto; padding: 67.5px 0 58px; margin-top: 140px; background: #000; } 
.footer-wrap { position: relative; width: 100%; max-width: 1840px; height: auto; margin: 0 auto; padding: 0 3vw; box-sizing:border-box; } 
.footer-wrap .footer-top { position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center; } 
.footer-wrap .footer-top .logo { width: min(13vw, 128px); } 
.footer-wrap .footer-top .footer-cate { height: min-content; display: flex; gap: min(6vw, 80px); justify-content: center; align-items: center; } 
.footer-wrap .footer-top .footer-cate a { color: #FFF; font-family: "Pretendard Variable"; font-size: 24px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.96px; } 
.footer-wrap .footer-top .footer-cate span { color: #999; font-weight: 800; font-size: 12px; } 
.footer-wrap .footer-bottom { position: relative; width: 100%; margin-top: 60px; display: flex; align-items: flex-end; justify-content: space-between; } 
.footer-wrap .footer-bottom .f-b-l { position: relative; display: grid; justify-content: flex-start; gap: 25px; } 
.footer-wrap .footer-bottom .f-b-l .download { position: relative; width:auto; height: auto; padding: 22px 34px; display: flex; align-items: center; justify-content: center; background: none; border: 2px solid #5D4FFA; border-radius: 10px; font-size: 20px; font-weight: 500; color: #fff; transition: all .2s; box-sizing: border-box; letter-spacing: -0.48px; line-height: normal; } 
.footer-wrap .footer-bottom .f-b-l .download a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; } 
.footer-wrap .footer-bottom .f-b-l .download:hover { background: #5D4FFA; } 

.footer-wrap .footer-bottom .f-b-r { position: relative; color: #ededed; font-weight: 300; display: flex; align-items: flex-end; justify-content: space-between; gap: 240px; } 
.footer-wrap .footer-bottom .f-b-r .r-txt-wrap { display: grid; } 
.footer-wrap .footer-bottom .f-b-r .r-txt span { color: #BFBFBF; font-family: "Pretendard Variable"; font-size: 16px; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.32px; margin-right: 22px; } 
.footer-wrap .footer-bottom .f-b-r .r-txt { position: relative; min-width: 266px; text-align: left; } 
.footer-wrap .footer-bottom .f-b-r .r-txt:nth-child(1) { color: #BFBFBF; font-family: "Pretendard Variable"; font-size: 18px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: 0.36px; margin-bottom: 24px; } 
.footer-wrap .footer-bottom .f-b-r .r-txt a { color: #BFBFBF; font-family: "Pretendard Variable"; font-size: 16px; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.32px; text-decoration-line: underline; text-decoration-style: solid; text-decoration-skip-ink: auto; text-decoration-thickness: auto; text-underline-offset: auto; text-underline-position: from-font; } 
.footer-wrap .footer-bottom .f-b-r .r-txt:nth-child(3) { margin-top: 10px; } 
.footer-wrap .footer-bottom .f-b-r .r-txt:nth-child(3) span { margin-right: 15px; } 


.copy-wrap { position: relative; width:100%; height: 55px; display: flex; align-items: center; background: #5d4ffa; } 
.copy-wrap .copy { position: relative; width: 100%; max-width: 1840px; padding: 0 3vw; margin: 0 auto; color: #FFF; font-family: "Pretendard Variable"; font-size: 18px; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.36px; text-align: left; box-sizing: border-box; } */

#footer { position: relative; width: 100%; height: 380px; background: #000; margin-top: 160px; } 
#footer .footer-wrap { position: relative; width: 100%; height: 195px; max-width: 1840px; margin: 0 auto; padding: 0 3vw; box-sizing: border-box; display: flex; align-items: center; justify-content: space-between; top: 50%; transform: translate(0, -50%); } 

#footer .footer-wrap .logo-left { position: relative; width: 110px; height: 100%; display: flex; align-items: center; justify-content: center; padding-right: 50px; border-right: 1px solid #575757; } 
#footer .footer-wrap .logo-left img { width: 110px; } 

#footer .footer-wrap .footer-right { position: relative; width: 100%; height: 100%; display: grid; padding-left: 50px; align-content: space-between; } 
#footer .footer-wrap .footer-right .r-top { position: relative; display: flex; justify-content: space-between; align-items: flex-start; } 
#footer .footer-wrap .footer-right .r-top .r-top-cate { display: flex; gap: 30px; } 
#footer .footer-wrap .footer-right .r-top .r-top-cate a { font-size: 24px; color: #e4e4e4; font-weight: 500; letter-spacing: -0.96px; transition: all .3s; } 
#footer .footer-wrap .footer-right .r-top .r-top-cate a:hover { color: #fff; } 
#footer .footer-wrap .down-btn { position: relative; width: 300px; height: 70px; padding: 20px 28px; box-sizing: border-box; background: none; border: 2px solid #5d4ffa; border-radius: 10px; transition: all .3s; } 
#footer .footer-wrap .down-btn a { position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; color: #fff; font-weight: 500; letter-spacing: -0.48px; display: flex; align-items: center; justify-content: center; } 
#footer .footer-wrap .down-btn:hover { background: #5d4ffa; } 


#footer .footer-wrap .footer-right .r-bottom { position: relative; display: flex; justify-content: space-between; align-items: flex-end; } 
#footer .footer-wrap .footer-right .r-bottom .r-bottom-info { position: relative; width: auto; display: grid; } 
#footer .footer-wrap .footer-right .r-bottom .r-bottom-info .comp { font-size: 18px; font-weight: 600; color: #bfbfbf; letter-spacing: 0.36px; margin-bottom: 24px;; } 
#footer .footer-wrap .footer-right .r-bottom .r-bottom-info .info span:nth-child(1) { position: relative; float: left; margin-right: 13px;; font-size: 16px; color: #bfbfbf; min-width: 40px; } 
#footer .footer-wrap .footer-right .r-bottom .r-bottom-info .info a { color: #bfbfbf; border-bottom: 1px solid #bfbfbf; } 
#footer .footer-wrap .footer-right .r-bottom .r-bottom-info .info:nth-child(2) { margin-bottom: 10px; } 
#footer .footer-wrap .footer-right .r-bottom .down-btn { margin-bottom: 10px; } 

#footer .copy-wrap { position: relative; width: 100%; max-width: 1840px; margin: 109.5px auto 0; padding: 0 3vw; font-size: 15px; font-weight: 600; color: #777; box-sizing: border-box; text-align: right; } 



@media screen and (max-width: 1280px){
 #header .pc-cate ul { gap: 40px; } 
 #header .reg { width: 140px; } 

 #header .pc-cate > ul.sub-cate-1 {right: 497px;}
 #header .pc-cate > ul.sub-cate-2 {right: 322px;}
 }



@media screen and (max-width: 1080px){
 #header { height: 100px; } 

 #header .header-inner { height: 100px; } 
 #header .header-logo { width: 80px; padding-top: 0; } 
 #header .pc-cate { display: none; } 

 #header .reg { position: absolute; right: max(55px, 7vw); top: 5px; font-size: 16px; width: 120px; } 
 
 #header .menu-btn { display: block; filter: invert(1); } 
 #header.fixed .menu-btn { filter: invert(0); } 

 .inner-cate.fixed { height: 168px; padding-top: 124px; } 
}


@media screen and (max-width: 768px) { /* inner category */
 .inner-cate .cate { padding: 0 3vw; justify-content: space-between; gap: 0px; } 
 .inner-cate .cate a { font-size: 14px; } 

 .inner-cate.fixed { height: 160px; padding-top: 122px; } 
 .inner-cate.fixed .cate { justify-content: space-between; } 
 .inner-cate.fixed .cate a.active::after {bottom: -21px;}

 .inner-cate .cate a.active::after { bottom: -28px; } 
 }




