@charset "UTF-8";

#container { position: relative; width: 100%; height: auto;  }

.main {position: relative; width: 100%; height: auto; }
.main .bg-v{position: relative; width: 100%; height: auto; padding-top: min(56.25%, 100vh); max-height: 100vh;}
.main .bg-v .m-logo {position: absolute; width: min(30vw, 400px); top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;}
.main .bg-v .m-bg {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.main .m-tit {position: relative; width: 100%; height: auto; padding: 150px 0; font-size: min(4vw, 50px); font-weight: 600; line-height: 2; color: #292929; text-align: center; }

/* 팀 컨셉 */
.tc-wrap {position: relative; width: 100%; height: auto; padding: 100px 0; box-sizing: border-box;}
.tc-wrap .tit-wrap {position: relative; width: 100%; max-width: 1840px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
.tc-wrap .tit-wrap .tit {font-size: 50px; font-weight: 600; line-height: 1.5; color: #292929;}
.tc-wrap .tit-wrap .sub {font-size: 23px; font-weight: 500; color: #292929; line-height: 1.5; margin-top: 20px;}
.tc-wrap .c-kind-wrap {position: relative; width: 100%; height: 800px; margin: 100px auto 0; padding: 100px 0; box-sizing: border-box; display: flex; justify-content: space-between;}
.tc-wrap .c-kind-wrap .c-kind-box {position: relative; width: 100%; max-width: 1840px; height: 800px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; display: flex; justify-content: space-between;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind {position: relative; width: 30%; height: 600px; padding: 40px; box-sizing: border-box; background: #0000004D; border-radius: 30px; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); display: grid; align-content: space-between;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-top {position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-top .tit {font-size: 23px; font-weight: 700; color: #877df9;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-top .badge {font-size: 23px; font-weight: 600; color: #fff; background: #5D4FFA; padding: 10px 30px; box-sizing: border-box; border-radius: 40px;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-info {font-size: 32px; font-weight: 600; color: #fff; line-height: 1.5;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-bottom {position: relative; width: 100%; }
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-bottom .txt {font-size: 18px; font-weight: 500; color: #d4d4d4;}
.tc-wrap .c-kind-wrap .c-kind-box .c-kind .c-bottom .date {font-size: 18px; font-weight: 600; color: #fff; line-height: 2; margin-top: 30px;}



@media screen and (max-width: 768px) {
    .main .main-sec1 img.main-logo { width: 300px; }
    .main .main-sec1 .main-txt-wrap {font-size: 24px;}
    
    .mainstage { height: auto;}
    .mainstage .speaker-wrap { flex-direction: column;}
    .mainstage .speaker-wrap .speaker-info {width: 100%;}
    /* //mainstage */

}




