@charset "UTF-8";

#container { position: relative; width: 100%; height: auto;  }

.main {position: relative; width: 100%; height: auto; }
.main .m-logo {position: absolute; width: min(30vw, 400px); top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3;}
.main .bg-v{position: relative; width: 100%; height: auto; padding-top: min(56.25%, 100vh); max-height: 100vh;}
.main .bg-v video {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.main .m-tit {position: relative; width: 100%; height: auto; padding: 150px 0; font-size: min(4vw, 50px); font-weight: 600; line-height: 2; color: #292929; text-align: center; }


@media screen and (max-width: 768px) {
    .main .main-sec1 img.main-logo { width: 300px; }
    .main .main-sec1 .main-txt-wrap {font-size: 24px;}
    
    .mainstage { height: auto;}
    .mainstage .speaker-wrap { flex-direction: column;}
    .mainstage .speaker-wrap .speaker-info {width: 100%;}
    /* //mainstage */

}




