@charset "UTF-8";

#container { position: relative; width: 100%; height: auto; }

.main { position: relative; width: 100%; height: 100vh; background-image: url('../assets/imgs/atdBanner_main.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; display: grid; align-content: center; justify-items: center;}
.main img.main-logo { position: relative; width: 300px; filter: invert(1);}
.main .main-txt-wrap { position: relative; text-align: center; font-family: "Hubot Sans", serif; color: #fff; font-size: 24px; font-weight: 600; line-height: 1.5;}






