@charset "UTF-8";

#container {}


/* abtAbt25 */
.main-abt { position: relative; width: 100%; height: auto; }
.main-abt .bg-vid { position: fixed; width: 100%; height: 100vh; top: 0; left: 0; }
.main-abt .bg-vid video {width: 100%; height: 100vh; object-fit: cover;}
.main-abt .abt-tit {position: relative; width: 100%; max-width: 1340px; height: 100vh; margin: 0 auto; padding: 0 20px; display: grid; align-content: center; justify-items: center; box-sizing: border-box;}
.main-abt .abt-tit span {width: auto; min-width: 827px; font-family: "Syncopate", serif; font-weight: 600; font-size: 100px; line-height: 1.2;}
.main-abt .abt-tit span.tit3 {text-align: right; margin-left: 60px;}
.main-abt .abt-tit span.tit5 {margin-left: 244px;}

.sub-abt {position: relative; width: 100%; height: 100vh; background: #fff; font-family: 'Pretendard Variable'; font-size: 40px; font-weight: 700; line-height: 1.5; text-align: center; display: flex; align-items: center; justify-content: center;}

.info-atd {position: relative; width: 100%; height: auto; background: #000;}
.info-atd .info {position: relative; width: 100%; max-width: 1340px; height: auto; margin: 0 auto; padding: 160px 20px; box-sizing: border-box;}
.info-atd .info .info-tit {width: 100%; font-family: "Syncopate", serif; font-size: 60px; font-weight: 600; text-align: left; color: #fff;}
.info-atd .info .info-sub-tit {width: 100%; font-family: "Syncopate", serif; font-size: 30px; font-weight: 600; text-align: left; color: #fff;}
.info-atd .info .info-txt {width: 100%; font-family: 'Pretendard Variable'; font-weight: 600; font-size: 20px; color: #fff; text-align: justify; line-height: 1.5; margin-top: 40px;}
.info-atd .info .info-img { position: relative; width: 100%; height: 400px; margin-top: 60px; background: #eee; border-radius: 20px; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
.info-atd .info .info-img .info-bg-b {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.3); }

.atd-value {position: relative; width: 100%; height: auto; background: #fff;}
.atd-value .value-wrap {position: relative; width: 100%; max-width: 1340px; margin: 0 auto; padding: 160px 20px; }
.atd-value .value-wrap .value-tit {font-family: "Syncopate", serif; font-weight: 600; font-size: 60px; color: #000;}
.atd-value .value-wrap .value-kind {position: relative; width: 100%; margin-top: 40px; display: flex; justify-content: space-between;}
.atd-value .value-wrap .value-kind .kind { display: grid; gap: 40px; align-content: center;}
.atd-value .value-wrap .value-kind .kind .value {position: relative; width: 450px; height: 600px; padding: 40px; box-sizing: border-box; border-radius: 20px; background: #eee; display: grid; align-content: space-between; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
.atd-value .value-wrap .value-kind .kind .value .top {z-index: 1;}
.atd-value .value-wrap .value-kind .kind .value .top .nm {font-family: "Syncopate", serif; font-weight: 600; color: #fff; font-size: 30px; line-height: 1.5;}
.atd-value .value-wrap .value-kind .kind .value .top .sub-nm {font-family: 'Pretendard Variable'; font-weight: 600; color: #fff; font-size: 20px; margin-top: 10px;}
.atd-value .value-wrap .value-kind .kind .value .bottom {position: absolute; bottom: 40px; left: 40px; z-index: 1;}
.atd-value .value-wrap .value-kind .kind .value .bottom .txt {font-family: 'Pretendard Variable'; font-weight: 600; color: #fff; line-height: 2;}
.atd-value .value-wrap .value-kind .kind .value .value-bg {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.3); z-index: 0;}

/* scd */
.scd-btn-wrap {position: relative; width: 100%; max-width: 1320px; height: auto; margin: 40px auto 0; padding: 0 20px; display: flex; gap: 10px; box-sizing: border-box; z-index: 2;}
.scd-btn-wrap .btn { padding: 15px 22px; font-family: "Syncopate", serif; font-weight: 600; font-size: 16px; background-color: #ccc; border: none; border-radius: 10px; cursor: pointer; transition: .2s; opacity: .3;}
.scd-btn-wrap .btn.btn-a {opacity: 1;} 

.scd {position: relative; width: 100%; max-width: 1320px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
.scd .scd-box {position: relative; width: 100%;  margin-top: 10px; display: grid; gap: 10px; display: none;}
.scd .scd-box.scd-box-a {display: grid;}
.scd .scd-box .scd-bg {position: relative; width: 100%; height: 400px; padding: 40px; display: flex; align-items: flex-end; box-sizing: border-box; border-radius: 10px; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
.scd .scd-box .scd-bg .bg-black {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.3); z-index: 1;}
.scd .scd-box .scd-bg .scd-point {font-family: 'Pretendard Variable'; font-size: 40px; font-weight: 600; color: #fff; z-index: 2;}
.scd .scd-box .table {display: flex; width: 100%; gap: 10px;}
.scd .scd-box .table .time {width: 100px; padding: 10px 20px; font-family: 'Pretendard Variable'; font-weight: 500; box-sizing: border-box; background: #eee; border-radius: 10px;}
.scd .scd-box .table .info {width: calc(100% - 100px); padding: 10px 20px; font-family: 'Pretendard Variable'; font-weight: 500; line-height: 1.5; box-sizing: border-box; background: #eee; border-radius: 10px;}
.scd .scd-box .table .info span {width: 100%; float: left; font-weight: 700; margin: 0 0 10px;}
.scd .view-dtl { padding: 20px 30px; margin: 0 auto; margin-top: 40px; background: #292929; border: none; font-family: 'Pretendard Variable'; font-size: 16px; font-weight: 500; color:#fff; border-radius: 10px; cursor: pointer; transition: all .2s; display: flex; }

/* kntSpk */
.spk-cont {position: sticky; width: 100%; height: 100vh; top: 0; padding: 0 20px; background: #fff; box-sizing: border-box; display: grid; align-items: center; align-content: center; justify-content: center; justify-items: center; gap: 20px;}
.spk-cont .seq {padding: 10px 20px; font-family: "Syncopate", serif;  font-weight: 600; font-size: 20px; color:#fff; background: #000; border-radius: 10px;}
.spk-cont span {font-family: 'Pretendard Variable'; font-weight: 600; font-size: 40px; color: #000; line-height: 1.5; text-align: center;}

.spk-wrap { position: sticky; top: 0; width: 100%; max-width: 1340px; height: 100vh; padding: 0 20px; margin: 0 auto; box-sizing: border-box; display: flex; justify-content: center; align-items: center; }
.spk-wrap .spk {position: relative; width: 100%; height: 800px; top:0; display: grid; gap: 40px;}
.spk-wrap .spk .info-wrap {padding: 20px; box-sizing: border-box; z-index: 1;}
.spk-wrap .spk .info-wrap .nm {display: grid; gap: 20px; color: #fff;}
.spk-wrap .spk .info-wrap .nm .nm-eng {font-family: "Syncopate", serif; font-weight: 600; font-size: 60px;}
.spk-wrap .spk .info-wrap .nm .nm-kor {font-family: 'Pretendard Variable'; font-weight: 600; font-size: 40px; }
.spk-wrap .spk .info-wrap .brief {font-family: 'Pretendard Variable'; font-weight: 600; font-size: 18px; text-align: right; line-height: 2.7;}
.spk-wrap .spk .figure {position: absolute; width: 100%; height: 800px; background-position: center; background-repeat: no-repeat; background-size: cover; z-index: 0;}
.spk-wrap .spk .txt { position: relative; width: 100%; padding: 20px; font-family: "Pretendard"; font-size: 16px; font-weight: 600; color: #fff; text-align: right; line-height: 1.5; box-sizing: border-box; display: flex; align-items: flex-end; justify-content: flex-end; z-index: 1;}

.spk-wrap .spk.spk2 .info-wrap .brief {text-align: left;}


/* lngTr */
body#lngTrOver {overflow: hidden;}
.tr-wrap {position: relative; width: 100%; max-width: 1340px; margin: 0 auto; padding: 160px 20px; box-sizing: border-box;}
.tr-wrap .tr-tit {font-family: "Syncopate", serif; font-weight: 600; font-size: 60px;}
.tr-wrap .swiper {margin-top: 40px; overflow: visible; cursor: grab;}
.tr-wrap .swiper .swiper-wrapper .swiper-slide {width: 400px !important; height: 500px; padding: 40px; box-sizing: border-box; background: #DBF3FF; border-radius: 20px; display: grid; align-content: space-between; background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
.tr-wrap .swiper .swiper-wrapper .swiper-slide .tr-kind-tit {font-family: "Syncopate", serif; font-weight: 600; font-size: 30px; color: #fff; line-height: 1.5; z-index: 1;}
.tr-wrap .swiper .swiper-wrapper .swiper-slide .tr-kind-txt {font-family: "Pretendard"; font-size: 16px; font-weight: 600; color: #fff; text-align: justify; line-height: 1.5;  z-index: 1;}
.tr-wrap .swiper .swiper-wrapper .swiper-slide .swiper-bg {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.4); z-index: 0;}

/* ktd */
.ktd {position: relative; width: 100%; height: auto; max-width: 1320px; margin: 60px auto 0; padding: 0 20px; box-sizing: border-box;}
.ktd .ktd-top {position: relative; width: 100%;}
.ktd .ktd-top .tit {font-family: "Syncopate", serif; font-weight: 600; font-size: 34px; text-transform: uppercase; }
.ktd .ktd-top .txt {font-family: "Pretendard"; font-size: 20px; font-weight: 500; line-height: 1.5; }
.ktd .ktd-info {position: relative; width: 100%; display: flex; justify-content: space-between; gap: 20px;}
.ktd .ktd-info .tit-wrap { width: 400px; display: grid; align-content: baseline; gap: 5px;}
.ktd .ktd-info .tit-wrap .sub-tit {font-family: "Syncopate", serif; font-weight: 600; font-size: 14px; text-transform: uppercase;}
.ktd .ktd-info .tit-wrap .main-tit {font-family: "Pretendard"; font-size: 50px; font-weight: 700; }
.ktd .ktd-info .txt-wrap { width: calc(100% - 580px); min-width: 600px; background: #eee; padding: 30px 40px; box-sizing: border-box; border-radius: 10px;}
.ktd .ktd-info .txt-wrap .txt { font-family: "Pretendard"; font-size: 16px; font-weight: 600; line-height: 1.7; text-align: justify;}